@inherits LayoutComponentBase

<PageTitle>SupTier</PageTitle>
<SiteHeader></SiteHeader>
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
